:root {
  /* colors */
  --clr-dark: hsl(230, 35%, 7%);
  --clr-light: hsl(231, 77%, 90%);
  --clr-white: hsl(0, 0%, 100%);
  /* font-sizes */
  --fs-900: clamp(80px, 10vw + 1rem, 150px);
  --fs-800: 56px;
  --fs-700: 24px;
  --fs-600: 16px;
  --fs-500: 16px;
  --fs-400: 15px;
  --fs-300: 16px;
  --fs-200: 14px;
  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
  --fw-400: 400;
  --fw-700: 700;
}

@media (min-width: 35em) {
  :root {
    --fs-800: 80px;
    --fs-700: 40px;
    --fs-600: 24px;
    --fs-500: 20px;
    --fs-400: 16px;
  }
}

@media (min-width: 50em) {
  :root {
    --fs-800: 100px;
    --fs-700: 56px;
    --fs-600: 32px;
    --fs-500: 28px;
    --fs-400: 18px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: var(--fw-400);
}

button {
  font: inherit;
  border: none;
}

img {
  max-width: 100%;
  display: block;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
}

.basis-equal > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.d-block {
  display: block;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-inline: clamp(2rem, 5vw, 3rem);
}

.grid-container * {
  max-width: 50ch;
  margin-inline: auto;
}

@media (min-width: 50rem) {
  .grid-container {
    text-align: left;
    -webkit-column-gap: var(--container-gap, 2rem);
            column-gap: var(--container-gap, 2rem);
    -ms-grid-columns: minmax(2rem, 1fr) (minmax(0, 45rem))[2] minmax(2rem, 1fr);
        grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 45rem)) minmax(2rem, 1fr);
  }
  .grid-container--home {
    padding-bottom: calc(max(6rem, 20vh));
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .grid-container > *:first-child {
    -ms-grid-column: 2;
    grid-column: 2;
    margin-right: auto;
  }
  .grid-container > *:last-child {
    -ms-grid-column: 3;
    grid-column: 3;
    margin-left: auto;
  }
}

.text-dark {
  color: var(--clr-dark);
}

.text-light {
  color: var(--clr-light);
}

.text-white {
  color: var(--clr-white);
}

.bg-dark {
  background-color: var(--clr-dark);
}

.bg-light {
  background-color: var(--clr-light);
}

.bg-white {
  background-color: var(--clr-white);
}

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.text-opacity-5 {
  opacity: .5;
}

.line-height-1 {
  line-height: 1.65rem;
}

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: var(--clr-white);
  background-color: var(--clr-dark);
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
}

/* ------------------- */
/* Page specific       */
/* ------------------- */
/* home */
.home {
  background-image: url(./../assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.grid-container--home > div {
  margin-inline: 0;
}

@media (min-width: 35rem) {
  .home {
    background-image: url(./../assets/home/background-home-tablet.jpg);
  }
}

@media (min-width: 50rem) {
  .home {
    background-image: url(./../assets/home/background-home-desktop.jpg);
  }
}

/* destination */
.destination {
  background-image: url(./../assets/destination/background-destination-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container--destination {
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
  --gap: 0rem;
}

.grid-container--destination .numbered-title {
  margin-inline: auto;
  text-align: center;
}

.grid-container--destination .underline-indicators {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-container--destination > div {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.destination--info .underline-indicators {
  max-width: 300px;
}

.destination--info .underline-indicators li {
  padding-inline: .5rem;
}

.destination--planet {
  margin-inline: auto;
  width: 100%;
  max-width: 100%;
}

.destination--planet img {
  max-width: 200px;
  display: none;
}

.destination--description {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.destination--description > .fs-900 {
  margin-block: -.75rem;
}

.destination--numbers {
  height: 140px;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.destination--numbers p {
  font-size: 28px;
}

.destination--numbers div {
  --flow-space: 0rem;
}

@media (min-width: 35rem) {
  .destination {
    background-image: url(../assets/destination/background-destination-tablet.jpg);
  }
  .grid-container--destination {
    --gap: 0rem;
  }
  .grid-container--destination .numbered-title {
    margin-inline: 1rem 0;
    margin-bottom: 4rem;
    text-align: left;
  }
  .destination--info .underline-indicators {
    max-width: 300px;
  }
  .destination--info .underline-indicators li {
    padding-inline: .5rem;
  }
  .destination header {
    margin-bottom: 3rem;
  }
  .destination--planet img {
    max-width: 50%;
  }
  .destination--info .underline-indicators li {
    margin-inline: 1rem;
  }
  .destination--numbers {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 50rem) {
  .destination {
    background-image: url(./../assets/destination/background-destination-desktop.jpg);
  }
  .destination--planet img {
    max-width: 500px;
    width: 100%;
  }
  .destination--info {
    margin-top: 5rem;
  }
  .destination--numbers {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .destination--numbers > div:first-child {
    margin-inline: 0 clamp(4rem, 7vw, 7rem);
  }
  .destination--numbers > div:last-child {
    margin: 0;
  }
  .destination--numbers div {
    --flow-space: .5rem;
  }
  .destination--info .underline-indicators {
    max-width: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .destination--info .underline-indicators li:first-child {
    margin-left: 0;
  }
}

/* crew */
.crew {
  background-color: rgba(15, 15, 19, 0.65);
  background-image: url(../assets/crew/background-crew-mobile.jpg);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.grid-container--crew {
  -ms-grid-rows: 50px minmax(150px, 250px) minmax(250px, 275px);
      grid-template-rows: 50px minmax(150px, 250px) minmax(250px, 275px);
}

.grid-container .crew-details {
  margin-inline: auto;
}

.grid-container p {
  max-width: 50ch;
}

.crew__members {
  border-bottom: 1px solid #383B4B;
  max-width: 75ch;
  width: 100%;
}

.crew__member {
  height: 15rem;
  padding-left: 10px;
  margin-top: -20px;
  display: none;
}

.crew__nav {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.crew-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: start;
  margin-top: 1rem;
}

.crew-details h2 {
  margin-top: 1rem;
}

.crew-details h1 {
  margin-top: .2rem;
}

.crew-details p {
  margin-top: .75rem;
}

@media (min-width: 35rem) {
  .crew {
    background-image: url(../assets/crew/background-crew-tablet.jpg);
  }
  .crew-details nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 3rem;
  }
  .crew-details > div {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .crew-details h2 {
    margin-top: 0;
  }
  .crew-details h1 {
    margin-top: .2rem;
  }
  .crew-details p {
    line-height: 1.65rem;
  }
  .grid-container--crew {
    -ms-grid-rows: initial;
        grid-template-rows: initial;
  }
  .grid-container--crew .numbered-title {
    margin: 1rem auto 0 0;
  }
  .grid-container--crew .numbered-title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .grid-container--crew .crew-details {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .grid-container--crew .crew__members {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .crew__members {
    place-self: flex-end;
    border: none;
  }
  .crew__member {
    height: 100%;
    margin-top: 50px;
  }
}

@media (min-width: 50rem) {
  .grid-container--crew {
    -ms-grid-rows: min-content 1fr;
        grid-template-rows: -webkit-min-content 1fr;
        grid-template-rows: min-content 1fr;
        grid-template-areas: 'space title img space2' 'space content img space2';
  }
  .grid-container--crew .numbered-title {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: title;
  }
  .grid-container .crew-details {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 5rem;
  }
  .crew .crew__nav {
    margin-inline: 0;
    margin-top: 7.5rem;
  }
  .crew-details {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: content;
    -ms-grid-column: 2 !important;
    grid-column: 2 !important;
    max-width: 50ch;
  }
  .crew-details p {
    max-width: 45ch;
    margin-inline: 0;
  }
  .crew__members {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: img;
  }
  .crew__member {
    width: 100%;
    height: auto;
    max-width: 34rem;
  }
  .img-smaller {
    max-width: 30rem;
  }
  .crew {
    background-image: url(../assets/crew/background-crew-desktop.jpg);
  }
}

/* technology */
.technology {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../assets/technology/background-technology-mobile.jpg);
}

.technology * {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.technology .count-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 175px;
}

.technology .count-indicators > * {
  margin-top: 0;
  width: 40px;
}

.grid-container--technology {
  padding-inline: 0;
  -ms-grid-rows: 50px min-content 1fr;
      grid-template-rows: 50px -webkit-min-content 1fr;
      grid-template-rows: 50px min-content 1fr;
}

.tech__imgs {
  max-width: 100vw;
  position: relative;
  overflow-x: hidden;
}

.tech__imgs .tech__img {
  display: none;
  max-width: 101vw;
}

.technology-details {
  padding-inline: clamp(2rem, 5vw, 3rem);
  margin-top: 2rem;
}

@media (min-width: 35rem) {
  .technology {
    background-image: url(../assets/technology/background-technology-tablet.jpg);
  }
  .technology * {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .technology .count-indicators {
    max-width: 230px;
    margin-bottom: 3rem;
  }
  .technology .count-indicators > * {
    width: 60px;
  }
  .technology .numbered-title {
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 1.5rem;
  }
  .tech__imgs {
    margin-bottom: 2rem;
  }
  .technology-details {
    max-width: 60ch;
  }
  .grid-container--technology {
    -ms-grid-rows: 135px min-content 1fr;
        grid-template-rows: 135px -webkit-min-content 1fr;
        grid-template-rows: 135px min-content 1fr;
  }
  .grid-container--technology p {
    max-width: 100%;
  }
}

@media (min-width: 50rem) {
  .technology {
    background-image: url(../assets/technology/background-technology-tablet.jpg);
  }
  .technology .numbered-title {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: title;
  }
  .technology .tech__imgs {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: img;
  }
  .technology .technology-details {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: content;
  }
  .grid-container--technology {
    -ms-grid-columns: minmax(2rem, 1fr) (minmax(0, 45rem))[2] minmax(2rem, 1fr);
        grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 45rem)) minmax(2rem, 1fr);
        grid-template-areas: 'space title title space2' 'space content img space2';
  }
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  letter-spacing: 4.75px;
  text-transform: uppercase;
}

.numbered-title span {
  font-weight: 700;
  opacity: 25%;
  padding-right: .65em;
}

@media (min-width: 35rem) {
  .numbered-title {
    font-size: var(--fs-500);
  }
}

@media (min-width: 50rem) {
  .numbered-title {
    font-size: var(--fs-500);
  }
}

.primary-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary-navigation {
  padding: 0;
  --gap: clamp(1rem, 5vw, 2.5rem);
  --underline-gap: 2rem;
  z-index: 100;
  background: rgba(12, 14, 24, 0.95);
}

.primary-navigation a > span {
  padding-right: .5rem;
  font-weight: var(--fw-700);
}

.logo {
  margin: 1.5rem clamp(2rem, 5vw, 3rem);
}

@supports ((-webkit-backdrop-filter: blur(50px)) or (backdrop-filter: blur(50px))) {
  .primary-navigation {
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
  }
}

@-moz-document url-prefix() {
  .primary-navigation {
    background: rgba(12, 14, 24, 0.95);
  }
}

@media (max-width: 35rem) {
  .primary-navigation {
    padding: calc(min(20rem, 10vh)) 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 100;
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    transition: -webkit-transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .mobile-nav-toggle {
    cursor: pointer;
    display: block;
    background-image: url(../assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    position: fixed;
    top: 2rem;
    right: 1rem;
    width: 1.5rem;
    aspect-ratio: 1;
    z-index: 101;
  }
  .mobile-nav-active {
    background-image: url(../assets/shared/icon-close.svg);
  }
  .primary-nav-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }
}

@media (min-width: 35rem) and (max-width: 50rem) {
  .primary-navigation a > span {
    display: none;
  }
  .primary-navigation {
    padding-inline: 3rem;
    height: 100%;
  }
  nav {
    height: 100%;
  }
}

@media (min-width: 50rem) {
  .primary-header {
    margin-block: 2.25rem;
    --gap: 0;
  }
  .primary-header::after {
    content: '';
    display: block;
    position: relative;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 600px;
    margin-right: -2rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .primary-header > div {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .primary-header > nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .primary-navigation {
    padding-inline: clamp(1rem, 5vw, 7rem) clamp(2rem, 5vw, 8rem);
  }
}

.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 1rem) 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.underline-indicators > *:hover, .underline-indicators > *:focus {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.underline-indicators > .active {
  border-bottom: 2px solid var(--clr-white);
}

@media (max-width: 35rem) {
  .underline-indicators > * {
    cursor: pointer;
    padding: .75rem;
    border-bottom: none;
  }
  .underline-indicators > *:hover, .underline-indicators > *:focus {
    border-bottom: none;
  }
  .underline-indicators > .active {
    border-bottom: none;
  }
}

.tab-nav {
  --gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  --underline-gap: .75rem;
}

.btn-large {
  position: relative;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  aspect-ratio: 1;
  padding: 0 2em;
  background-color: var(--clr-white);
  border-radius: 50%;
  font-size: 32px;
}

.btn-large::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: rgba(151, 151, 151, 0.25);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 500ms linear, -webkit-transform 500ms ease-out;
  transition: opacity 500ms linear, -webkit-transform 500ms ease-out;
  transition: opacity 500ms linear, transform 500ms ease-out;
  transition: opacity 500ms linear, transform 500ms ease-out, -webkit-transform 500ms ease-out;
}

.btn-large:hover::after,
.btn-large:focus::after {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}

.dot-indicators > * {
  border-radius: 50%;
  padding: 5px;
  background-color: rgba(151, 151, 151, 0.25);
}

.dot-indicators > *:hover {
  background-color: rgba(151, 151, 151, 0.75);
}

.dot-indicators > .active {
  background-color: var(--clr-white);
}

@media (min-width: 50rem) {
  .dot-indicators > * {
    padding: 7.5px;
  }
}

.count-indicators > * {
  font-size: var(--fs-600);
  width: 80px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: -ms-grid;
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: transparent;
}

.count-indicators > *:hover, .count-indicators > *:focus {
  background-color: var(--clr-white);
  color: var(--clr-dark);
}

.count-indicators .active {
  background-color: var(--clr-white);
  color: var(--clr-dark);
}

.active-img {
  display: block !important;
}
/*# sourceMappingURL=main.css.map */