// all the code handling the layout

body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: var(--clr-white);  
    background-color: var(--clr-dark); 
    line-height: 1.5; //Standard ist 1.4 in Browser, was aber sehr eng ist. 1.5 oder 1.6 ist besser (kann man immer machen)
    min-height: 100vh;
    overflow-x: hidden;

    display: grid;
    grid-template-rows: min-content 1fr;
}

/* ------------------- */
/* Page specific       */
/* ------------------- */

/* home */

.home {
    background-image: url(./../assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

@media (min-width: 35rem) {
    .home {
        background-image: url(../assets/home/background-home-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .home {
        background-image: url(./../assets/home/background-home-desktop.jpg);
    }
}