// all the code handling the layout

body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: var(--clr-white);  
    background-color: var(--clr-dark); 
    line-height: 1.5; //Standard ist 1.4 in Browser, was aber sehr eng ist. 1.5 oder 1.6 ist besser (kann man immer machen)
    min-height: 100vh;
    overflow-x: hidden;

    display: grid;
    grid-template-rows: min-content 1fr;
}

/* ------------------- */
/* Page specific       */
/* ------------------- */

/* home */

.home {
    background-image: url(./../assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.grid-container--home > div {
    margin-inline: 0;
}

@media (min-width: 35rem) {
    .home {
        background-image: url(./../assets/home/background-home-tablet.jpg);
    }
}

@media (min-width: 50rem) {
    .home {
        background-image: url(./../assets/home/background-home-desktop.jpg);
    }
}

/* destination */

.destination {
    background-image: url(./../assets/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container--destination {
    grid-template-rows: min-content 1fr;
    
    & .numbered-title {
        margin-inline: auto;
        text-align: center;
    }
    & .underline-indicators  {
        justify-content: center;
    }

    & > div {
        align-self: flex-start;
    }

    --gap: 0rem;
}

.destination--info .underline-indicators {
    max-width: 300px;

    & li {
        padding-inline: .5rem;
    }  
}

.destination--planet {
    margin-inline: auto;
    width: 100%;
    max-width: 100%;

    & img {
        max-width: 200px;
        display: none;
    }
}

.destination--description {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid transparentize($clr-white, .75);

    & > .fs-900 {
        margin-block: -.75rem;
    }
}

.destination--numbers {
    height: 140px;
    margin: 0;
    justify-content: space-between;
    flex-direction: column;

    & p {
        font-size: 28px;
    }

    & div {
        --flow-space: 0rem;
    }
}

@media (min-width: 35rem) {
    .destination {
        background-image: url(../assets/destination/background-destination-tablet.jpg);
    }

    .grid-container--destination {
        
        & .numbered-title {
            margin-inline: 1rem 0;
            margin-bottom: 4rem;
            text-align: left;
        }
    
        --gap: 0rem;
    }
    
    .destination--info .underline-indicators {
        max-width: 300px;
    
        & li {
            padding-inline: .5rem;
        }  
    }

    .destination header {
        margin-bottom: 3rem;
    }

    .destination--planet {
        & img {
            max-width: 50%;
        }
    }

    .destination--info .underline-indicators li {
        margin-inline: 1rem;
    }

    .destination--numbers {
        flex-direction: row;
    }
}

@media (min-width: 50rem) {
    .destination {
        background-image: url(./../assets/destination/background-destination-desktop.jpg);
    }

    .destination--planet {
        & img {
            max-width: 500px;
            width: 100%;
        }
    }

    .destination--info {
        margin-top: 5rem;
    }

    .destination--numbers {
        justify-content: start;
    
        & > div:first-child {
            margin-inline: 0 clamp(4rem, 7vw, 7rem);
        }

        & > div:last-child {
            margin: 0;
        }

        & div {
            --flow-space: .5rem;
        }
    }

    .destination--info .underline-indicators {
        max-width: none;
        justify-content: start;

        & li:first-child {
            margin-left: 0;
        }
    }
}



/* crew */

.crew {
    background-color: rgba(15, 15, 19, 0.65);
    background-image: url(../assets/crew/background-crew-mobile.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grid-container--crew {
    grid-template-rows: 50px minmax(150px, 250px) minmax(250px, 275px);
}

.grid-container  {
    & .crew-details {
        margin-inline: auto;
    }
    & p {
        max-width: 50ch;
    }
}

.crew__members {
    border-bottom: 1px solid #383B4B;
    max-width: 75ch;
    width: 100%;
}

.crew__member {
    height: 15rem;
    padding-left: 10px;
    margin-top: -20px;
    display: none;
}

.crew__nav {
    width: min-content;;
}

.crew-details {
    display: flex;
    flex-direction: column;  
    & h2 {
        margin-top: 1.5rem;
    }
    & h1 {
        margin-top: .2rem;
    }
    & p {
        margin-top: .75rem;
        line-height: 1.65rem;
    }
}

@media (min-width: 35rem) {
    .crew {
        background-image: url(../assets/crew/background-crew-tablet.jpg);
    }

    .crew-details {

        & nav { 
            order: 2; 
            margin-top: 3rem;
        }
        & > div { order: 1; }
        & h2 {
            margin-top: 0;
        } 
        & h1 {
            margin-top: .2rem;
        }  
        & p {
            line-height: 1.65rem;
        }
    }

    .grid-container--crew {
        grid-template-rows: initial;

        & .numbered-title {
            margin: 1rem auto 0 0;
        }
    }

    .grid-container--crew {
        & .numbered-title { order: 1 }
        & .crew-details { order: 2 }
        & .crew__members { order: 3 }
    }

    .crew__members {
        place-self: flex-end;
        border: none;
    }

    .crew__member {
        height: 35rem;
    }

}

@media (min-width: 50rem) {
    .grid-container--crew {
        grid-template-rows: min-content 1fr;
        grid-template-areas: 
            'space title img space2'
            'space content img space2'; //ws = whitespace

        & .numbered-title {
            grid-area: title;
        }
    }

    .grid-container .crew-details {
        margin-left: 0;
        display: flex;  
        flex-direction: column;
        justify-content: flex-end;
        align-self: flex-end;
        margin-bottom: 5rem;
    }

    .crew .crew__nav{
        margin-inline: 0;
        margin-top: 7.5rem;
    }

    .crew-details {
        grid-area: content;
        grid-column: 2 !important;
        max-width: 50ch;

        & p {
            max-width: 45ch;
            margin-inline: 0;
        }
    }

    .crew__members {
        grid-area: img;
    }

    .crew__member {
        width: 100%;
        height: auto;
        max-width: 34rem;
    }

    .img-smaller {
        max-width: 30rem;
    }

    .crew {
        background-image: url(../assets/crew/background-crew-desktop.jpg);
    }
}